body {
	background-color: #0EACE7;
}

h1 {
	color: #092F7C;
	text-align: center;
}
h2 {
	color: white;
	text-align: center;
}

h3 {
	color: #EDFAFF;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

ul {
	color: #092F7C;
	text-align: center;
	list-style-type: none;
	margin-right: 3%;
}

#clicker {
	text-align: center;
}